<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Kupci.Properties.Settings.boso2011ConnectionString" connectionString="server=;User Id=;password=;database=;Persist Security Info=True;command timeout=800" providerName="MySql.Data.MySqlClient"/>
        <add name="Kupci.Properties.Settings.mpmanConnectionString" connectionString="server=;User Id=;password=;database=;Persist Security Info=True;command timeout=800" providerName="MySql.Data.MySqlClient"/>
      <add name="Kupci.Properties.Settings.replikacijaConnectionString" connectionString="server=;User Id=;password=;database=;Persist Security Info=True;command timeout=800" providerName="MySql.Data.MySqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
